<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../partials/head', {title: title});%>
    </head>
    <body>
        <%- include('../partials/navbar', {isAuth: isAuth, name: name}); %>
        <%- include('../partials/editor_table/table.ejs', {json: json}); %>
        <div class="wrapper">
            <div id="formContent">
                <h2>Добавить новую колонку</h2>
                <form action="/admin/api/addColumn" method="post">
                    <label>
                        <h3>Название колонки</h3>
                        <br>
                        <input class="formInput" type="text" required name="newColumn">
                    </label>
                    <br>
                    <label>
                        <h3>Значение по-умолчанию</h3>
                        <br>
                        <input class="formInput" type="text" name="defaultValue" required>
                    </label>
                    <br>
                    <input type="submit" value="Добавить">
                </form>
            </div>
        </div>
        <div class="wrapper">
            <div id="formContent">
                <h2>Добавить новую строчку</h2>
                <form action="/admin/api/addRow" method="post">
                    <label>
                        <h3>Имя</h3>
                        <br>
                        <input class="formInput" type="text" required name="newUser">
                    </label>
                    <br>
                    <input type="submit" value="Добавить">
                </form>
            </div>
        </div>
        <%- include('../partials/comments', {json: json}); %>
        <script>
            let items = JSON.parse('<%- JSON.stringify(json) %>');
            let keys = [];
            for (let key of document.querySelectorAll('th')) {
                if (key.attributes[0].value === "col") {
                    keys.push(key.innerText);
                }
            }
            document.addEventListener("DOMContentLoaded", () => {
                let selectors = document.querySelectorAll('.selector');
                for (let selector of selectors) {
                    let cellIndex = selector.parentNode.parentNode.cellIndex - 1;
                    let rowIndex = selector.parentNode.parentNode.parentNode.rowIndex - 1;
                    selector.addEventListener('change', function (e) {
                        let logJson = {
                            'value': selector.options[selector.selectedIndex].text,
                            'id': items[rowIndex]['_id'],
                            'field': keys[cellIndex]
                        };
                        let data = new FormData();
                        data.append( "json", JSON.stringify( logJson ) );
                        fetch('/editor/api/update', {
                            method: 'post',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify( logJson )
                        })
                            .then(res => res.json())
                            .then(res => console.log(res));
                    })
                }
            })
        </script>
    </body>
</html>