<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body>
    <%- include('../partials/navbar', {isAuth: isAuth, name: name}); %>
    <%- include('../partials/table/table', {json:json, role: role}) %>
    <% if (role === 'ADMIN'){%>
        <%- include('../partials/adminForms/addNewColumn.ejs')%>
        <%- include('../partials/adminForms/addNewRow.ejs')%>
    <%}%>
    <%- include('../partials/commentsForm', {json: json}); %>
    <%- include('../partials/commentsPage', {comments: comments}); %>
    <%- include('../partials/footer'); %>
</body>
</html>